# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages the Data scientists use are:
1. Python.
2. R.
3. Java.
4. SQL.
5. C++. etc...;

Some of the commonly used libraries used by Data Scientists include:
1. NumPy.
2. Pandas.
3. Matplotlib.
4. Seabron.
5. SciPy.
6. TEnsorFlow. etc...;

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|TensorFlow|

### Blow are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#this is a common arithmetic example to multiply and add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

___Objective___
* List popular languages for Data Science
* List popular libraries for Data science 
* List of Well known Data Science Tools
* How to Provide comments in the cell

## Author
Narmjeet kaur